In [1]:
!pip install pandas numpy seaborn plotly matplotlib

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 0.0/10.4 MB ? eta -:--:--
     ---------------------------------------- 0.1/10.4 MB 1.9 MB/s eta 0:00:06
      --------------------------------------- 0.3/10.4 MB 3.1 MB/s eta 0:00:04
     - -------------------------------------- 0.4/10.4 MB 3.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.6/10.4 MB 3.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.7/10.4 MB 3.4 MB/s eta 0:00:03
     --- ------------------------------------ 0.9/10.4 MB 3.4 MB/s eta 0:00:03
     ---- ----------------------------------- 1.1/10.4 MB 3.4 MB/s eta 0:00:03
     ---- ----------------------------------- 1.2/10.4 MB 3.4 MB/s eta 0:00:03
     ----- ---------------------------------- 1.3/10.4 MB 3.2 MB/s eta 0:00:03
     ----- ---------------------------------- 1.5/10.4 MB 3.2 MB/s eta 0:00:03
     ------ --------------------------------- 1.6/10.4 MB 3.2 MB/s eta 0:00:03
     ------ --------------------------------- 1.8/10.4 MB 3.2 MB/s eta 0:00:03
     ------- -------------------------------- 1.9/10.4 MB 3.2 MB/s eta 0:00:03
     ------- -------------------------------- 2.1/10.4 MB 3.2 MB/s eta 0:00:03
     -------- ------------------------------- 2.2/10.4 MB 3.3 MB/s eta 0:00:03
     -------- ------------------------------- 2.3/10.4 MB 3.1 MB/s eta 0:00:03
     --------- ------------------------------ 2.4/10.4 MB 3.1 MB/s eta 0:00:03
     ---------- ----------------------------- 2.6/10.4 MB 3.1 MB/s eta 0:00:03
     ---------- ----------------------------- 2.8/10.4 MB 3.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.9/10.4 MB 3.1 MB/s eta 0:00:03
     ----------- ---------------------------- 3.1/10.4 MB 3.2 MB/s eta 0:00:03
     ------------ --------------------------- 3.2/10.4 MB 3.1 MB/s eta 0:00:03
     ------------ --------------------------- 3.3/10.4 MB 3.1 MB/s eta 0:00:03
     ------------- -------------------------- 3.5/10.4 MB 3.1 MB/s eta 0:00:03
     ------------- -------------------------- 3.6/10.4 MB 3.1 MB/s eta 0:00:03
     -------------- ------------------------- 3.8/10.4 MB 3.1 MB/s eta 0:00:03
     --------------- ------------------------ 3.9/10.4 MB 3.2 MB/s eta 0:00:03
     --------------- ------------------------ 4.1/10.4 MB 3.1 MB/s eta 0:00:02
     ---------------- ----------------------- 4.3/10.4 MB 3.2 MB/s eta 0:00:02
     ---------------- ----------------------- 4.4/10.4 MB 3.2 MB/s eta 0:00:02
     ----------------- ---------------------- 4.5/10.4 MB 3.2 MB/s eta 0:00:02
     ------------------ --------------------- 4.7/10.4 MB 3.1 MB/s eta 0:00:02
     ------------------ --------------------- 4.8/10.4 MB 3.2 MB/s eta 0:00:02
     ------------------- -------------------- 5.0/10.4 MB 3.1 MB/s eta 0:00:02
     ------------------- -------------------- 5.1/10.4 MB 3.2 MB/s eta 0:00:02
     -------------------- ------------------- 5.2/10.4 MB 3.1 MB/s eta 0:00:02
     -------------------- ------------------- 5.4/10.4 MB 3.1 MB/s eta 0:00:02
     --------------------- ------------------ 5.5/10.4 MB 3.2 MB/s eta 0:00:02
     ---------------------- ----------------- 5.8/10.4 MB 3.2 MB/s eta 0:00:02
     ----------------------- ---------------- 6.0/10.4 MB 3.2 MB/s eta 0:00:02
     ------------------------ --------------- 6.2/10.4 MB 3.3 MB/s eta 0:00:02
     ------------------------ --------------- 6.4/10.4 MB 3.3 MB/s eta 0:00:02
     ------------------------- -------------- 6.7/10.4 MB 3.3 MB/s eta 0:00:02
     -------------------------- ------------- 6.9/10.4 MB 3.4 MB/s eta 0:00:02
     --------------------------- ------------ 7.1/10.4 MB 3.4 MB/s eta 0:00:01
     ---------------------------- ----------- 7.4/10.4 MB 3.5 MB/s eta 0:00:01
     ----------------------------- ---------- 7.6/10.4 MB 3.5 MB/s eta 0:00:01
     ----------------------------- ---------- 7.8/10.4 MB 3.5 MB/s eta 0:00:01
     ------------------------------ --------- 7.9/10.4 MB 3.5 MB/s eta 0:00:01
     ------------------------------- -------- 8.1/10.4 MB 3.5 MB/s eta 0:00:01
     -------------------------------- ------- 8.3/10.4 MB 3.5 MB/s eta 0:00:01
     -------------------------------- ------- 8.4/10.4 MB 3.5 MB/s eta 0:00:01
     --------------------------------- ------ 8.7/10.4 MB 3.5 MB/s eta 0:00:01
     ---------------------------------- ----- 8.8/10.4 MB 3.5 MB/s eta 0:00:01
     ---------------------------------- ----- 9.0/10.4 MB 3.5 MB/s eta 0:00:01
     ----------------------------------- ---- 9.2/10.4 MB 3.5 MB/s eta 0:00:01
     ------------------------------------ --- 9.4/10.4 MB 3.6 MB/s eta 0:00:01
     ------------------------------------- -- 9.6/10.4 MB 3.6 MB/s eta 0:00:01
     ------------------------------------- -- 9.7/10.4 MB 3.5 MB/s eta 0:00:01
     -------------------------------------- - 9.9/10.4 MB 3.6 MB/s eta 0:00:01
     -------------------------------------- - 10.1/10.4 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------  10.3/10.4 MB 3.6 MB/s eta 0:00:01
     ---------------------------------------- 10.4/10.4 MB 3.6 MB/s eta 0:00:00
Collecting numpy
  Using cached numpy-1.24.1-cp310-cp310-win_amd64.whl (14.8 MB)
Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ---------------------------------------- 0.0/293.3 kB ? eta -:--:--
     ----------------------------- -------- 225.3/293.3 kB 4.6 MB/s eta 0:00:01
     -------------------------------------- 293.3/293.3 kB 4.6 MB/s eta 0:00:00
Collecting plotly
  Downloading plotly-5.13.0-py2.py3-none-any.whl (15.2 MB)
     ---------------------------------------- 0.0/15.2 MB ? eta -:--:--
     ---------------------------------------- 0.2/15.2 MB 5.3 MB/s eta 0:00:03
     - -------------------------------------- 0.4/15.2 MB 5.0 MB/s eta 0:00:03
     - -------------------------------------- 0.6/15.2 MB 4.8 MB/s eta 0:00:04
     -- ------------------------------------- 0.8/15.2 MB 5.0 MB/s eta 0:00:03
     -- ------------------------------------- 1.0/15.2 MB 5.1 MB/s eta 0:00:03
     --- ------------------------------------ 1.3/15.2 MB 5.1 MB/s eta 0:00:03
     --- ------------------------------------ 1.5/15.2 MB 4.9 MB/s eta 0:00:03
     ---- ----------------------------------- 1.6/15.2 MB 4.8 MB/s eta 0:00:03
     ---- ----------------------------------- 1.8/15.2 MB 4.6 MB/s eta 0:00:03
     ----- ---------------------------------- 1.9/15.2 MB 4.4 MB/s eta 0:00:04
     ----- ---------------------------------- 2.0/15.2 MB 4.2 MB/s eta 0:00:04
     ----- ---------------------------------- 2.3/15.2 MB 4.3 MB/s eta 0:00:04
     ------ --------------------------------- 2.5/15.2 MB 4.3 MB/s eta 0:00:03
     ------- -------------------------------- 2.7/15.2 MB 4.3 MB/s eta 0:00:03
     ------- -------------------------------- 2.9/15.2 MB 4.3 MB/s eta 0:00:03
     -------- ------------------------------- 3.1/15.2 MB 4.4 MB/s eta 0:00:03
     -------- ------------------------------- 3.4/15.2 MB 4.4 MB/s eta 0:00:03
     --------- ------------------------------ 3.5/15.2 MB 4.3 MB/s eta 0:00:03
     --------- ------------------------------ 3.8/15.2 MB 4.4 MB/s eta 0:00:03
     ---------- ----------------------------- 4.0/15.2 MB 4.4 MB/s eta 0:00:03
     ----------- ---------------------------- 4.2/15.2 MB 4.4 MB/s eta 0:00:03
     ----------- ---------------------------- 4.4/15.2 MB 4.4 MB/s eta 0:00:03
     ----------- ---------------------------- 4.6/15.2 MB 4.4 MB/s eta 0:00:03
     ------------ --------------------------- 4.8/15.2 MB 4.4 MB/s eta 0:00:03
     ------------- -------------------------- 5.0/15.2 MB 4.4 MB/s eta 0:00:03
     ------------- -------------------------- 5.3/15.2 MB 4.4 MB/s eta 0:00:03
     -------------- ------------------------- 5.5/15.2 MB 4.4 MB/s eta 0:00:03
     -------------- ------------------------- 5.7/15.2 MB 4.5 MB/s eta 0:00:03
     --------------- ------------------------ 5.9/15.2 MB 4.5 MB/s eta 0:00:03
     ---------------- ----------------------- 6.1/15.2 MB 4.4 MB/s eta 0:00:03
     ---------------- ----------------------- 6.3/15.2 MB 4.5 MB/s eta 0:00:02
     ----------------- ---------------------- 6.6/15.2 MB 4.5 MB/s eta 0:00:02
     ----------------- ---------------------- 6.8/15.2 MB 4.5 MB/s eta 0:00:02
     ------------------ --------------------- 6.9/15.2 MB 4.5 MB/s eta 0:00:02
     ------------------ --------------------- 7.2/15.2 MB 4.5 MB/s eta 0:00:02
     ------------------- -------------------- 7.4/15.2 MB 4.5 MB/s eta 0:00:02
     ------------------- -------------------- 7.6/15.2 MB 4.5 MB/s eta 0:00:02
     -------------------- ------------------- 7.8/15.2 MB 4.5 MB/s eta 0:00:02
     -------------------- ------------------- 7.9/15.2 MB 4.4 MB/s eta 0:00:02
     -------------------- ------------------- 7.9/15.2 MB 4.3 MB/s eta 0:00:02
     --------------------- ------------------ 8.0/15.2 MB 4.3 MB/s eta 0:00:02
     --------------------- ------------------ 8.2/15.2 MB 4.2 MB/s eta 0:00:02
     --------------------- ------------------ 8.3/15.2 MB 4.2 MB/s eta 0:00:02
     ---------------------- ----------------- 8.5/15.2 MB 4.2 MB/s eta 0:00:02
     ---------------------- ----------------- 8.7/15.2 MB 4.2 MB/s eta 0:00:02
     ---------------------- ----------------- 8.7/15.2 MB 4.2 MB/s eta 0:00:02
     ----------------------- ---------------- 8.9/15.2 MB 4.1 MB/s eta 0:00:02
     ----------------------- ---------------- 9.1/15.2 MB 4.1 MB/s eta 0:00:02
     ------------------------ --------------- 9.2/15.2 MB 4.1 MB/s eta 0:00:02
     ------------------------ --------------- 9.4/15.2 MB 4.1 MB/s eta 0:00:02
     ------------------------- -------------- 9.6/15.2 MB 4.1 MB/s eta 0:00:02
     ------------------------- -------------- 9.8/15.2 MB 4.1 MB/s eta 0:00:02
     -------------------------- ------------- 10.0/15.2 MB 4.1 MB/s eta 0:00:02
     -------------------------- ------------- 10.1/15.2 MB 4.1 MB/s eta 0:00:02
     --------------------------- ------------ 10.3/15.2 MB 4.1 MB/s eta 0:00:02
     --------------------------- ------------ 10.5/15.2 MB 4.0 MB/s eta 0:00:02
     --------------------------- ------------ 10.6/15.2 MB 4.0 MB/s eta 0:00:02
     ---------------------------- ----------- 10.8/15.2 MB 4.0 MB/s eta 0:00:02
     ---------------------------- ----------- 11.0/15.2 MB 4.0 MB/s eta 0:00:02
     ----------------------------- ---------- 11.2/15.2 MB 4.0 MB/s eta 0:00:02
     ----------------------------- ---------- 11.4/15.2 MB 4.0 MB/s eta 0:00:01
     ------------------------------ --------- 11.6/15.2 MB 4.0 MB/s eta 0:00:01
     ------------------------------ --------- 11.7/15.2 MB 4.0 MB/s eta 0:00:01
     ------------------------------- -------- 11.8/15.2 MB 3.9 MB/s eta 0:00:01
     ------------------------------- -------- 12.0/15.2 MB 3.9 MB/s eta 0:00:01
     ------------------------------- -------- 12.2/15.2 MB 4.0 MB/s eta 0:00:01
     -------------------------------- ------- 12.3/15.2 MB 4.0 MB/s eta 0:00:01
     -------------------------------- ------- 12.5/15.2 MB 3.9 MB/s eta 0:00:01
     --------------------------------- ------ 12.7/15.2 MB 3.9 MB/s eta 0:00:01
     --------------------------------- ------ 12.8/15.2 MB 3.9 MB/s eta 0:00:01
     --------------------------------- ------ 12.9/15.2 MB 3.9 MB/s eta 0:00:01
     ---------------------------------- ----- 13.1/15.2 MB 3.9 MB/s eta 0:00:01
     ---------------------------------- ----- 13.3/15.2 MB 3.9 MB/s eta 0:00:01
     ----------------------------------- ---- 13.4/15.2 MB 3.8 MB/s eta 0:00:01
     ----------------------------------- ---- 13.5/15.2 MB 3.8 MB/s eta 0:00:01
     ------------------------------------ --- 13.7/15.2 MB 3.8 MB/s eta 0:00:01
     ------------------------------------ --- 14.0/15.2 MB 3.8 MB/s eta 0:00:01
     ------------------------------------- -- 14.2/15.2 MB 3.8 MB/s eta 0:00:01
     ------------------------------------- -- 14.5/15.2 MB 3.8 MB/s eta 0:00:01
     -------------------------------------- - 14.6/15.2 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------  14.9/15.2 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------  15.1/15.2 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------  15.2/15.2 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------- 15.2/15.2 MB 3.8 MB/s eta 0:00:00
Collecting matplotlib
  Using cached matplotlib-3.6.3-cp310-cp310-win_amd64.whl (7.2 MB)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ---------------------------------------- 0.0/499.4 kB ? eta -:--:--
     ----------------- -------------------- 225.3/499.4 kB 4.6 MB/s eta 0:00:01
     ---------------------------------- --- 450.6/499.4 kB 4.7 MB/s eta 0:00:01
     -------------------------------------- 499.4/499.4 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.1.0-py3-none-any.whl (23 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.0)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.38.0-py3-none-any.whl (965 kB)
Collecting pillow>=6.2.0
  Using cached Pillow-9.4.0-cp310-cp310-win_amd64.whl (2.5 MB)
Collecting pyparsing>=2.2.1
  Using cached pyparsing-3.0.9-py3-none-any.whl (98 kB)
Collecting contourpy>=1.0.1
  Using cached contourpy-1.0.7-cp310-cp310-win_amd64.whl (162 kB)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
Requirement already satisfied: six>=1.5 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, tenacity, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, plotly, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.3 numpy-1.24.1 pandas-1.5.3 pillow-9.4.0 plotly-5.13.0 pyparsing-3.0.9 pytz-2022.7.1 seaborn-0.12.2 tenacity-8.1.0

## Importação das bibliotecas iniciais
---

In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

## Ajustes para o projeto
---

In [6]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

plt.rcParams['figure.figsize'] = (15, 6) # Tamanho do gráfico
plt.style.use('seaborn-darkgrid')        # Estilo do gráfico

## Leitura dos dados
---

In [7]:
dados_livros = pd.read_csv('./data/Books.csv')
dados_avaliacao = pd.read_csv('./data/Ratings.csv')
dados_usuario = pd.read_csv('./data/Users.csv')

In [8]:
dados_livros.shape, dados_avaliacao.shape, dados_usuario.shape

((271360, 8), (1149780, 3), (278858, 3))

## Modelagem dos dados
---

In [9]:
dados_livros.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
dados_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [11]:
dados_avaliacao.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [12]:
dados_avaliacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [13]:
dados_usuario.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [14]:
dados_usuario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [19]:
tab_merge = dados_livros.merge(dados_avaliacao, how='inner', on='ISBN')
tab_merge = tab_merge.merge(dados_usuario, how='inner', on='User-ID')
tab_merge.shape

(1031136, 12)

In [20]:
tab_merge.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN

In [21]:
tab_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031135 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-S          1031136 non-null  object
 6   Image-URL-M          1031136 non-null  object
 7   Image-URL-L          1031132 non-null  object
 8   User-ID              1031136 non-null  int64
 9   Book-Rating          1031136 non-null  int64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(1), int64(2), object(9)
memory usage: 102.3+ MB