In [1]:
!pip install pandas numpy seaborn plotly matplotlib

Requirement already satisfied: pandas in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (1.5.3)
Requirement already satisfied: numpy in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (1.24.1)
Requirement already satisfied: seaborn in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (0.12.2)
Requirement already satisfied: plotly in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (5.13.0)
Requirement already satisfied: matplotlib in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (3.6.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from plotly) (8.1.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in c:\users\lucas\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## Importação das bibliotecas iniciais
---

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

## Ajustes para o projeto
---

In [3]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

plt.rcParams['figure.figsize'] = (15, 6) # Tamanho do gráfico
plt.style.use('seaborn-darkgrid')        # Estilo do gráfico

## Leitura dos dados
---

In [4]:
dados_livros = pd.read_csv('./data/Books.csv')
dados_avaliacao = pd.read_csv('./data/Ratings.csv')
dados_usuario = pd.read_csv('./data/Users.csv')

In [5]:
dados_livros.shape, dados_avaliacao.shape, dados_usuario.shape

((271360, 8), (1149780, 3), (278858, 3))

## Modelagem dos dados
---

In [6]:
dados_livros.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
dados_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [8]:
dados_avaliacao.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [9]:
dados_avaliacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [10]:
dados_usuario.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
dados_usuario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [12]:
tab_merge = dados_livros.merge(dados_avaliacao, how='inner', on='ISBN')
tab_merge = tab_merge.merge(dados_usuario, how='inner', on='User-ID')
tab_merge.shape

(1031136, 12)

In [13]:
tab_merge.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN

In [14]:
tab_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031135 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-S          1031136 non-null  object
 6   Image-URL-M          1031136 non-null  object
 7   Image-URL-L          1031132 non-null  object
 8   User-ID              1031136 non-null  int64
 9   Book-Rating          1031136 non-null  int64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(1), int64(2), object(9)
memory usage: 102.3+ MB

In [22]:
# Ajustando o registro incorreto
tab_merge.iloc[287500, 3] = ''
tab_merge.iloc[4, 3] = ''
tab_merge.iloc[287500, 3] = ''

# Convertendo coluna par numérico
tab_merge['Year-Of-Publication'] = pd.to_numeric(tab_merge['Year-Of-Publication'])

ValueError: Unable to parse string "DK Publishing Inc" at position 352361

In [25]:
for linha in tab_merge['Year-Of-Publication'].value_counts().index:
    print(linha)

2002
2001
1999
2003
2000
1998
1997
1996
1995
1994
1993
1992
1991
1990
2004
1989
1988
1987
1986
0
1984
1985
1983
1982
1981
1999
2000
1980
1998
2002
2001
1978
1997
1995
1996
1994
1979
1993
2003
1976
1977
1992
1991
1990
1989
1988
1987
1986
1974
1985
1975
1984
1983
1972
2004
1973
1982
0
1970
1981
1971
1980
1979
1969
1978
1977
1976
1965
1953
1959
1968
1975
1966
1974
1964
1973
1960
1967
1961
1963
1972
1962
1954
1957
1971
1970
1958
1955
1956
1969
2005
1920
1968
1951
1930
1952
1961
1966
1965
1950
1960
1940
1962
1963
1946
1967
1942
1964
1923
1956
1959
1957
2030
1955
1958
1929
1945
1943
1947
1953
1948
1927
1932
1949
1936
2005
1941
1937
1911
1938
1952
1951
1911
1926
1902
1950
1954
1940
2038
1920
1939
2020
1901
2050
2011
2026
1925
2010
1928
1947
1923
1945
1908
1935
2030
2021
DK Publishing Inc
2006
1941
1942
1948
1921
1939
1946
1944
1900
1922
1924
2020
1943
1931
1933
1933
1936
1949
2011
1932
1909
1930
2008
1938
1927
1376
2024
2037
1931
1904
1944
1914
1917
1378
2012
1910
1934
1806
1897
1906
1924
1900
1926

1919

In [ ]:
tab_merge.loc[tab_merge['Year-Of-Publication']]